.login-form {
  display: grid;
  row-gap: 30px;
  margin-top: 30px;
  margin-left: 100px;
}
.log-in {
  background-color: rgba(147, 25, 255, 255);
  height: 100%;
  /* display: grid; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* .userinput{
    margin-top: 12%;
}  */
.login-label {
  font-weight: 500;
  font-size: 55px;
  color: white;
  margin-left: 37%;
  margin-bottom: 50px;
}
div > a {
  text-decoration: none;
  font-weight: 600;
}
hr {
  width: 110px;
  height: 2px;
  color: white;
  background-color: white;
  opacity: 100%;
  margin-left: 40px;
}

.sign-up > hr {
  width: 65px;
  height: 2px;
  color: white;
  background-color: white;
  opacity: 100%;
  margin-left: 10vw;
  margin-top: 2px;
}
input {
  border-radius: 5px;
  border: none;
  height: 7.5vh;
  width: 85%;
  padding: 30px;
}
button {
  background-color: rgba(255, 172, 25, 255);
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.submit {
  border-radius: 30px;
  width: 35%;
  height: 6vh;
  border: none;
  margin-left: 105px;
}
.sign-up {
  color: white;
  font-size: 20px;
  margin-left: 170px;
  margin-top: 30px;
}
a {
  color: white;
  font-size: 25px;
}
img {
  width: 590px;
}

.form-invalid-warning{
  color: white;
}