<div class="input">
  <div class="home-logo">
    <img class="home-logo1" src="../../assets/logo (1).png" />
    <div class="text">
      <div>
        TURN
        <span class="text-in-orange"> MILES </span>
      </div>
      <div class="line2">
        INTO
        <span class="text-in-purple">MONEY</span>
      </div>
    </div>
    <div class="home-keyword">RIDES ON TAP</div>
    <img class="home-logo2" src="../../assets/img1.png" />
  </div>
  <div class="user-authentication">
    <router-outlet></router-outlet>
  </div>
</div>
